<p>{{title}}</p>
<input type="text" class="form-control" [disabled]="!isInput">
<button class="btn btn-primary" (click)="changeTitle()" >Click</button>
<br>
<input type="text" class="form-control" (input)="setTitle($event)">
<input type="text" class="form-control" [(ngModel)]="title">

<button class="btn btn-success" (click)="changeVisibility()">{{btnText}}</button>
<br>
<button class="btn btn-success" (click)="changeVisibility()">{{isShow?'Off':'On'}}</button>
<p *ngIf="isShow; else myAlert">Some text</p>
<ng-template #myAlert>
<div class="alert alert-primary">Some text</div>
</ng-template>
<hr>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let name of names; let i = index">{{i}} - {{name}}</li>
</ul>
